/* SETTING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  font-size: 62.5%;

  --beige: hsla(32, 98%, 83%, 1);
  --brown: hsla(31, 99%, 30%, 1);
  --black: hsl(40, 3%, 17%);
}

body * {
  font-family: "Roboto", sans-serif;
  font-size: 400;
}

body {
  background: #ffedd5;
}

.app {
  width: min(90%, 400px);
  margin-inline: auto;
}

/* TITLES */
h1,
h2,
h3,
span,
.value {
  font-family: "Roboto Serif", sans-serif;
  font-weight: 700;
  text-transform: uppercase;

  color: var(--black);
}
/* HEADER */
header {
  opacity: 0;
  animation: toDown 0.6s forwards;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

header h1 {
  font-size: 3rem;
  text-align: center;
}

header span {
  color: var(--brown);
}

header p {
  font-size: 1.5rem;
  text-align: center;

  color: var(--black);
}

/* SECTION */
section {
  opacity: 0;
  animation: toUp 0.6s forwards;

  margin-bottom: 2rem;
}

section:nth-child(2) {
  animation-delay: 0.2s;
}

section h2 {
  background-color: var(--beige);

  padding-block: 0.7rem;

  text-align: center;

  margin-bottom: 2.5rem;
}

section ul {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

section li {
  display: flex;
  align-items: flex-start;
}

section li h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;

  font-size: 1.6rem;
}

section p {
  opacity: 0.7;

  font-size: 1.3rem;
  color: var(--black);
}

section .value {
  font-size: 1.6rem;
}

/* ANIMATIONS */
@keyframes toUp {
  0% {
    transform: translateY(70px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes toDown {
  0% {
    transform: translateY(-70px);
  }

  100% {
    opacity: 1;
  }
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  margin-right: 10px;
}

::-webkit-scrollbar-corner {
  border: none;
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(192, 192, 192);
  border-radius: 3px;
  cursor: move;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
}
